<header>
  <img width="150" src="<%= relative_url '/images/logo.svg' %>" alt="Logo" />


  <nav class="menu">
    <ul class="menu-list">
      <li><a href="<%= relative_url '/' %>">Home</a></li>
      <% [ 'about', 'posts', 'courses', 'units'].each do |item|
        href= relative_url "/#{item}" 
        title = item
      %>
       <li><a href="<%= href %>"><%= title %></a></li>
      <% end %>  
    </ul>
  </nav> 
</header>